# Lab 1

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-312/blob/main/book/labs/lab_01.ipynb)

## Exercise 1: Variable Assignment and Basic Operations

Create variables to store the following geospatial data:

- The latitude and longitude of New York City: 40.7128, -74.0060.
- The population of New York City: 8,336,817.
- The area of New York City in square kilometers: 783.8.

Perform the following tasks:

1. Calculate and print the population density of New York City (population per square kilometer).
2. Print the coordinates in the format "Latitude: [latitude], Longitude: [longitude]".

In [9]:
# NYC information
nyc_coordinates = (40.7128, -74.0060)
nyc_population = 8336817
nyc_area_sqkm = 783.8

#Calculate and print population density
nyc_population_density = nyc_population/nyc_area_sqkm
print(nyc_population_density)

#Print lat-long in  "Latitude: [latitude], Longitude: [longitude]" format
latitude = nyc_coordinates[0]
longitude = nyc_coordinates[1]
print(f"Latitude: {latitude}, Longitude: {longitude}")

10636.408522582293
Latitude: 40.7128, Longitude: -74.006

## Exercise 2: Working with Strings

Create a string variable to store the name of a city, such as "San Francisco". Perform the following operations:

1. Convert the string to lowercase and print the result.
2. Convert the string to uppercase and print the result.
3. Replace "San" with "Los" in the city name and print the new string.

In [12]:
city_name = "San Francisco"

city_name_lower = city_name.lower()
print(city_name_lower)

city_name_upper = city_name.upper()
print(city_name_upper)

city_name_replace = city_name.replace("San", "Los")
print(city_name_replace)

san francisco
SAN FRANCISCO
Los Francisco

## Exercise 3: Using Lists

Create a list of tuples, where each tuple contains the name of a city and its corresponding latitude and longitude:

- New York City: (40.7128, -74.0060)
- Los Angeles: (34.0522, -118.2437)
- Chicago: (41.8781, -87.6298)

Perform the following tasks:

1. Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.
2. Print the entire list of cities.
3. Slice the list to print only the first two cities.

In [47]:
cities = [("New York City", (40.7128,-74.0060)),
          ("Los Angeles", (34.0522,-118.2437)),
          ("Chicago", (41.8781,-87.6298))]
print(cities)

cities.append(("Miami", (25.7617, -80.1918)))
print(cities)

print(cities[:2])

[('New York City', (40.7128, -74.006)), ('Los Angeles', (34.0522, -118.2437)), ('Chicago', (41.8781, -87.6298))]
[('New York City', (40.7128, -74.006)), ('Los Angeles', (34.0522, -118.2437)), ('Chicago', (41.8781, -87.6298)), ('Miami', (25.7617, -80.1918))]
[('New York City', (40.7128, -74.006)), ('Los Angeles', (34.0522, -118.2437))]

## Exercise 4: Using Tuples

Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform the following tasks:

1. Access and print the latitude and longitude values from the tuple.
2. Try to change the latitude value to 48.8585. What happens? Explain why.

In [22]:
eiffel_tower_coordinates = (48.8584, 2.2945)
latitude = eiffel_tower_coordinates[0]
longitude = eiffel_tower_coordinates[1]

print(f"Eiffel Tower Latitude: {latitude} and Longitude: {longitude}")

#eiffel_tower_coordinates[0]= 48.8585

# This cannot happen as tuple objects are immutable and cannot be changed #

Eiffel Tower Latitude: 48.8584 and Longitude: 2.2945

## Exercise 5: Working with Sets

Create a set of countries you have visited, such as {"USA", "France", "Germany"}. Perform the following tasks:

1. Add a new country to the set.
2. Try to add the same country again. What happens?
3. Print the updated set.

In [27]:
countries = ["USA","Canada"]
countries = set(countries)
print("Countries:",countries)

countries.add("Portugal")
print("Updated Countries:", countries)

countries.add("Portugal")
print("Regions after attempting to add duplicate:", countries)

# Nothing happens the second time using set
# as they hold a collection of unique elements.

Countries: {'Canada', 'USA'}
Updated Countries: {'Canada', 'USA', 'Portugal'}
Regions after attempting to add duplicate: {'Canada', 'USA', 'Portugal'}

## Exercise 6: Working with Dictionaries

Create a dictionary to store information about a specific geospatial feature, such as a river:

- Name: "Amazon River"
- Length: 6400 km
- Countries: ["Brazil", "Peru", "Colombia"]

Perform the following tasks:

1. Add a new key-value pair to the dictionary to store the river's average discharge (e.g., 209,000 mÂ³/s).
2. Update the length of the river to 6992 km.
3. Print the dictionary.

In [57]:
river_attributes = {"name": "Amazon River",
                    "Length": 6400,
                    "Countries" : ["Brazil", "Peru", "Columbia"]
                    }
print(river_attributes)

river_attributes["avg_discharge_cms"] = 209000
print(river_attributes)

river_attributes["Length"] = 6992
print(river_attributes)

{'name': 'Amazon River', 'Length': 6400, 'Countries': ['Brazil', 'Peru', 'Columbia']}
{'name': 'Amazon River', 'Length': 6400, 'Countries': ['Brazil', 'Peru', 'Columbia'], 'avg_discharge_cms': 209000}
{'name': 'Amazon River', 'Length': 6992, 'Countries': ['Brazil', 'Peru', 'Columbia'], 'avg_discharge_cms': 209000}

## Exercise 7: Nested Data Structures

Create a dictionary to represent a city that contains the city's name, population, and coordinates (latitude, longitude):

- Name: "Tokyo"
- Population: 13,515,271
- Coordinates: (35.6895, 139.6917)

Perform the following tasks:

1. Access and print the population of the city.
2. Access and print the city's latitude.
3. Update the population to 14,000,000 and print the updated dictionary.

In [40]:
city_attributes = {"name": "Tokyo",
                   "population": 13515271,
                   "coordinates": (35.6895, 139.6917),
                  }
city_name = city_attributes["name"]
print(f"City: {city_name}")

city_latitude = city_attributes["coordinates"][0]
print(f"{city_name}'s latitude is {city_latitude}")

city_attributes["population"] = 14000000
print(f"Updated attributes for {city_name}:, {city_attributes}")

City: Tokyo
Tokyo's latitude is 35.6895
Updated attributes for Tokyo:, {'name': 'Tokyo', 'population': 14000000, 'coordinates': (35.6895, 139.6917)}

## Exercise 8: List Operations

Given the list of cities from Exercise 3, perform the following operations:

1. Sort the list of cities alphabetically by name.
2. Create a new list that contains only the city names.
3. Remove the last city from the original list and print the updated list.

In [50]:
print(cities)
sorted_cities = sorted(cities)
print(sorted_cities)

city_names = [city[0] for city in cities]
print(city_names)

city_names.pop()
print(f"Removed last city with pop: {city_names}")

[('New York City', (40.7128, -74.006)), ('Los Angeles', (34.0522, -118.2437)), ('Chicago', (41.8781, -87.6298)), ('Miami', (25.7617, -80.1918))]
[('Chicago', (41.8781, -87.6298)), ('Los Angeles', (34.0522, -118.2437)), ('Miami', (25.7617, -80.1918)), ('New York City', (40.7128, -74.006))]
['New York City', 'Los Angeles', 'Chicago', 'Miami']
Removed last city with pop: ['New York City', 'Los Angeles', 'Chicago']

## Exercise 9: Dictionary Operations

Using the dictionary from Exercise 6, perform the following tasks:

1. Check if the key "Length" exists in the dictionary.
2. Print all the keys in the dictionary.
3. Print all the values in the dictionary.

In [66]:
print("Length" in river_attributes)

all_keys = list(river_attributes.keys())
print(f"Keys: {all_keys}")

all_values = list(river_attributes.values())
print(f"Values: {all_values}")

True
Keys: ['name', 'Length', 'Countries', 'avg_discharge_cms']
Values: ['Amazon River', 6992, ['Brazil', 'Peru', 'Columbia'], 209000]

## Exercise 10: Practical Application

Imagine you have a list of tuples, each representing a location with its name, latitude, and longitude:

In [71]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]

Perform the following tasks:

1. Create a new list that contains only the names of the locations.
2. Create a dictionary where the keys are location names and the values are tuples of their coordinates.
3. Print the latitude of "K2" using the dictionary.

In [77]:
mountain_names = [location[0] for location in locations]
print(mountain_names)

mountain_dict = {location[0]: (location[1],location[2]) for location in locations}
print(mountain_dict)

k2_latitude = mountain_dict["K2"][0]
print(k2_latitude)

['Mount Everest', 'K2', 'Kangchenjunga']
{'Mount Everest': (27.9881, 86.925), 'K2': (35.8808, 76.5155), 'Kangchenjunga': (27.7025, 88.1475)}
35.8808